
$mainmargin: 2%;

.header {
    margin: $mainmargin;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
 