$header-display: flex;
$header-align: center;
$header-select: pointer;

.header{
    display: $header-display;
    align-items: $header-align;
    justify-content: $header-align;
}

.home-icon{
    cursor: $header-select;
}

 