/* You can add global styles to this file, and also import other style files */
$content-margin: 2% 5%;
$padding-top: 2%;
$padding-bottom: 5%;
$container-align: center;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    margin: $content-margin;
}

.align-top{
    padding-top: $padding-top;
}

.align-bottom{
    padding-bottom: $padding-bottom;
}

.image-align{
    padding-top: $padding-top;
    margin: $content-margin;
    justify-content: $container-align;
}