<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="7% grid" class="align-bottom">
        <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="50%">
            <div class="container">
                <img src={{artistDetails.artistImg}} alt="Snow" style="height: 80%; width:100%;" >
                <div class="top-left-h1">
                    <h1 >{{artistDetails.artistName}}</h1>
                    <h2><b>{{artistDetails.noOfFans}}</b> fans</h2>
                </div>
              </div>
        </div>
        <div fxFlex="40%" fxFlex.xs="33%" fxFlex.sm="33%">
            <h1><b>Top Tracks</b></h1>
            <div *ngIf="artistDetails.topTracks.length > 0">
              <mat-list *ngFor="let topItem of artistDetails.topTracks; index as i" class="align-bottom">
                <div fxLayout = "row">
                  <mat-list-item class="list">
                      <div fxFlex="90%">
                        {{i+1}}. {{topItem.title}}
                      </div>
                      <div fxFlex="10%">
                        {{topItem.duration}}
                      </div>  
                  </mat-list-item>
                </div>
                  <mat-divider></mat-divider>
              </mat-list>
            </div>
            <div *ngIf="artistDetails.topTracks.length === 0">
              <h2>No Information Available</h2>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="align-bottom">
      <h1><b>Albums</b></h1>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5% grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let cardItem of artistDetails.topTracks">
          <mat-card class="card mat-elevation-z4">
              <img mat-card-image src={{cardItem.album.cover_medium}} alt="Photo of a Album">
              <mat-card-content>
                <h2>{{cardItem.album.title}}</h2>
                <h2>{{cardItem.releaseDate}}</h2>
              </mat-card-content>
            </mat-card>
      </div>
  </div>
</div>