$main-width: 100%;
$main-color: white;
$container-position: relative;
$container-text: center;
$heading-position: absolute;
$heading-bottom: 0;
$heading-transparency: rgba(0, 0, 0, 0.5);
$list-text: 1vw;

.container {
    position: $container-position;
    text-align: $container-text;
    color: $main-color;
}
 
.top-left-h1 {
    position: $heading-position;
    bottom: $heading-bottom;
    background: $heading-transparency; 
    color: $main-color;
    width: $main-width;
}

.list{
    font-size:$list-text;
    justify-content: $container-text;
}
